.btn-header-more{
    background-color: #6fa6da;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-weight: 400;
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
    border: 0 solid black;
    text-decoration: none;
    color: white;
    transition: .2s;
    padding-top: 9px;
    padding-right: 10px;
    padding-left: 10px;
    outline: 0;
    text-align: center;

}
.gallery-photo-content .btn-header-more{
    font-size: 15px;
    width: 120px;
    height: 40px;
    padding-top: 8px;
}
.btn-header-more:hover{
    background-color: #3764ac;
    cursor: pointer;
}
.btn-header-more:focus{
    box-shadow: 0 0 0 3px rgba(111,166,218,0.5);
    background-color: #6fa6da;
    outline: 0;
}
@media(max-width: 600px) {
    .gallery-photo-content .btn-header-more{
        padding-top: 6px;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}
